body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
  }
  .hero {
    height: 100vh;
    display: flex;
    align-items: ;
    justify-content: space-between;
    padding: 0 60px;
    background: linear-gradient(to right, #000000, #222222);
  }  
  .hero-text {
    max-width: 600px;
  }
  
  .hero-text h3 {
    font-size: 20px;
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero-text h1 span {
    color: #f50057;
  }
  
  .hero-text p {
    font-size: 18px;
    color: #aaa;
  }
  